.mainPage {
  text-align: center;
}

.header {
  display:flex;
  height: 60px;
  justify-content: center;
}

.header li {
  list-style-type: none;
  overflow: hidden;
  float: left;
}

.header li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color:#EEEEEE;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform .2s ease;
}

.header li a:hover {
  transform: scale(1.3);
  text-decoration: underline;
}

.homePage {
  background-image: url("C:\Users\kunai\OneDrive\Desktop\summer-2023\personal-website\src\assets\img\wall2.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EEEEEE;
  background-repeat: no-repeat;
  background-size: cover;
}

.homePage h1 {
  font-size: 100px;
  margin: 0px;
}

.homePage h2 {
  font-size: 20px;
  margin: 0px;
}

.imgLinks {
  margin: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease;
  margin-bottom: 200px;
}

.imgLinks a:hover {
  transform: scale(1.3);
}

#scrollButton {
  position: absolute;
  top: 1100px;
  background-color: transparent;
  border:none;
  outline:none;
  transition: transform 0.2s ease;
}

#scrollButton:hover {
  transform: scale(1.3);
}

.aboutMe {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.aboutMe p {
  margin-bottom: 0;
  font-size: 30px;
}

.aboutMe h1 {
  margin-top: 0;
  margin-bottom: 70px;
  color: #BD613C;
}

.aboutMeBio {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.aboutMeBio h2 {
  text-align: left;
  font-size: 30px;
  width: 700px;
}

.profilePicture {
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background-image: url("C:\Users\kunai\OneDrive\Desktop\summer-2023\personal-website\src\assets\img\aaron.jpg");
  background-position: center;
  margin-top: 50px;
}

.aboutMeTechStack {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.techStackImg {
  display:flex;
  margin-top: 40px;
  gap: 30px;
}

.resume {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #BD613C;
}

.resumeHeader h3 {
  margin: 0px;
  margin-top: 100px;
  font-size: 30px;
  letter-spacing: 2px;
}

.resumeHeader h1 {
  margin: 0px;
  margin-top: 0px;
  color:black;
}

.resumeHeader p {
  margin: 0px;
  margin-bottom: 50px;
  color:grey;
  font-size: 20px;
}

.job {
  display:flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  gap:90px;
}

.job img {
  margin-bottom: 100px;
}

.jobBio {
  display:flex;
  flex-direction: column;
  width: 500px;
  gap: 0;
  margin: 0px;
}

.jobBio h3 {
  font-size: 25px;
  margin: 0px;
  color:black;
  text-align: left;
  margin: 0px;
}

.jobBio p {
  margin:0px;
  margin-bottom: 100px;
  color:black;
  text-align: left;
  font-size: 20px;
}

.jobInfo {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 100px;
  width: 600px;
}

.jobInfo h2 {
  font-size: 30px;
  margin: 0px;
  color:black;
}

.jobInfo h3 {
  font-size: 18px;
  margin: 0px;
  color:grey;
}

.school {
  display:flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  gap:90px;
}

.school img {
  margin-bottom: 100px;
}

.schoolBio {
  display:flex;
  flex-direction: column;
  width: 500px;
  gap: 0;
  margin: 0px;
}

.schoolBio h3 {
  font-size: 25px;
  margin: 0px;
  color:black;
  text-align: left;
  margin: 0px;
}

.schoolBio p {
  margin:0px;
  margin-bottom: 100px;
  color:black;
  text-align: left;
  font-size: 20px;
}

.schoolInfo {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  margin-bottom: 100px;
  width: 600px;
}

.schoolInfo h2 {
  font-size: 30px;
  margin: 0px;
  color:black;
}

.schoolInfo h3 {
  font-size: 18px;
  margin: 0px;
  color:grey;
}

.projects {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.projects h2 {
  color: #BD613C;
  letter-spacing: 5px;
  font-size: 30px;
  margin: 0px;
}

.projects h1 {
  margin: 0px;
  margin-bottom: 200px;
}

.projectGrid {
  display:flex;
  gap: 100px;
}

.projectGrid a {
  transition: transform 0.5s ease;
  text-decoration: none;
  color: white;
}

.projectGrid a:hover {
  transform: scale(1.2);
  background-color: transparent;
  background-blend-mode: multiply;
}

.contact {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.contactHeader h3 {
  color:#BD613C;
  margin:0px;
}

.contactHeader h1 {
  margin:0px;
  color:black;
}

.contactHeader h2 {
  margin: 0px;
  margin-bottom: 100px;
  font-size: 20px;
  color:grey;
}

.contactInfo {
  display:flex;
  gap: 100px;
}

.contactEmail h2 {
  font-size: 40px;
  margin: 0px;
  color:black;
}

.contactEmail h3 {
  font-size: 30px;
  margin:0px;
}

.contactEmail a {
  text-decoration: none;
  color:grey;
}

.contactEmail a:hover {
  color:#BD613C;
}

.footer {
  background-color: #222831;
  height: 100px;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}
