.mainPage {
  text-align: center;
}

.header {
  display:flex;
  height: 60px;
  justify-content: center;
}

.header li {
  list-style-type: none;
  overflow: hidden;
  float: left;
}

.header li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color:#EEEEEE;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform .2s ease;
}

.header li a:hover {
  color: #82a741;
  transform: scale(1.3);
}

.homePage {
  background-image: url("C:\Users\kunai\OneDrive\Desktop\summer-2023\personal-website\wall2.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EEEEEE;
}

.homePage h1 {
  font-size: 100px;
  margin: 0px;
}

.homePage h2 {
  font-size: 20px;
  margin: 0px;
}

.imgLinks {
  margin: 20px;
}

#scrollButton {
  margin-top:100px;
}

.aboutMe {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.resume {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.projects {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.extracurricular {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.contact {
  background-color: #222831;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEEEE;
}

.footer {
  background-color: #222831;
  height: 100px;
}
